# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# Playwright artifacts
test-results/
screenshots/

# Mac files
.DS_Store

# Keep Auth files out
.auth/

# Allure
allure-results/
allure-report/
